<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
</head>

<body>
    <div id="app">

        <!-- SX PAGINA -->
        <div id="side">

            <!-- Header -->
            <header>

                <!-- SX - info utente -->
                <div class="user-info">
                    <div class="user-pic">
                        <img :src="'img/propics/' + user.avatar + '.jpg'">
                    </div>
                    <div class="user-name">
                        {{user.name}}
                    </div>
                </div>

                <!-- DX - status, new chat, menu -->
                <div id="user-nav-side">
                    <i class="nav-icon status" title="Stato"></i>

                    <i class="nav-icon new-chat" title="Nuova Chat"></i>

                    <i class="nav-icon menu-icon" title="Menu"></i>
                </div>
            </header>

            <!-- Notifications reminder -->
            <div id="notifications-reminder">
                <i class="notifications-icon"></i>

                <div id="reminder-text">
                    <div id="reminder-text-message">Ricevi notifiche di nuovi messaggi</div>

                    <div id="reminder-link">
                        <a href="#!">Attiva notifiche desktop</a>
                        <i class="chevron-right"></i>
                    </div>
                </div>
            </div>

            <!-- Ricerca chat -->
            <div id="chats-search">
                <div class="container">
                    <button id="chats-search-button">
                        <i class="search-icon"></i>
                    </button>

                    <input type="text" id="chats-search-input" v-model="searchInput"
                        placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>

            <!-- Elenco chat -->
            <div id="chats-container">

                <!-- Archiviate -->
                <div id="archived">
                    <i class="archived-icon"></i>
                    <div id="archived-info">
                        <div id="archived-title">
                            Archiviate
                        </div>
                    </div>
                    <div id="archived-counter">2</div>
                </div>

                <!-- Side chats - genera le side-chat -->
                <!-- Se cliccata la apre a dx, segna tutti i messaggi da leggere come letti e chiude eventuali menu aperti a dx-->
                <!-- Se viene fatta una ricerca mostra solo quelle il cui nome inizia con l'input cercato -->
                <div class="side-chat"
                    @click="selectedContact = i; markAsReadAllMessages(contact); hideAllMessageMenu()"
                    v-for="(contact, i) in contacts" v-show="matchesSearch(contact)">

                    <!-- Immagine profilo -->
                    <div class="side-chat-pic">
                        <img :src="'img/propics/' + contact.avatar + '.jpg'" :alt="contact.name">
                    </div>

                    <!-- Info mostrate se sono presenti messaggi da leggere -->
                    <div class="side-chat-info" v-if="notSeenMessages(contacts[i]) > 0">
                        <div class="side-chat-column">
                            <div class="side-chat-name">
                                <strong>{{contacts[i].name}}</strong>
                            </div>
                            <div class="side-chat-message">
                                <strong>{{lastMessage(contacts[i]).text}}</strong>
                            </div>
                        </div>

                        <div class="side-chat-column">
                            <div class="side-chat-time unread">
                                {{lastMessage(contacts[i]).date}}
                            </div>

                            <div class="side-chat-msg-counter unread">
                                <span>{{notSeenMessages(contacts[i])}}</span>
                            </div>
                        </div>

                    </div>

                    <!-- Info mostrate se non ci sono messaggi da leggere -->
                    <div class="side-chat-info" v-else>
                        <div class="side-chat-column">
                            <div class="side-chat-name">
                                {{contacts[i].name}}
                            </div>
                            <div class="side-chat-message">
                                <i v-if="lastMessage(contacts[i]).status == 'sent'" class="read-icon"
                                    :class="{'seen' : lastMessage(contacts[i]).read}"></i>
                                <span>
                                    {{lastMessage(contacts[i]).text}}
                                </span>
                            </div>
                        </div>

                        <div class="side-chat-column">
                            <div class="side-chat-time">
                                {{lastMessage(contacts[i]).date}}
                            </div>

                            <div class="side-chat-msg-counter">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- DX -->
        <main>

            <!-- Header -->
            <header>

                <!-- SX - info utente selezionato-->
                <div class="user-info">
                    <div class="user-pic">
                        <img :src="'img/propics/' + getSelectedContact().avatar + '.jpg'"
                            :alt="getSelectedContact().name">
                    </div>

                    <div class="user-name">
                        <span>{{getSelectedContact().name}}</span>
                        <div class="last-seen" :title="getSelectedContact().status">
                            {{getSelectedContact().status}}
                        </div>
                    </div>

                </div>

                <!-- DX - cerca in chat, menu chat -->
                <div id="user-nav-main">
                    <i id="user-chat-search" class="nav-icon bigger-search-icon" title="Cerca..."></i>

                    <i id="user-chat-menu" class="nav-icon menu-icon" title="Menu"></i>
                </div>
            </header>

            <!-- Chat -->
            <div id="user-chat">
                <div id="user-chat-container">

                    <!-- Stampa tutti i messaggi -->
                    <div v-for="(message, i) in contacts[selectedContact].messages" class="message"
                        :class="(message.status) + ' ' + ((isFirstMessage(message, i)) ? 'first' : '')">

                        <!-- Se il messaggio è il primo o il primo di un gruppo aggiunge la tail -->
                        <i v-if="isFirstMessage(message, i)" class="tail"
                            :class="(message.status == 'sent')? 'out' : 'in'">
                        </i>

                        <!-- Contenuto del messaggio -->
                        <div class="message-content" @click="hideAllMessageMenu">
                            <div class="message-text">
                                {{message.text}}
                            </div>
                            <div class="message-bottom">
                                <span>{{getTime(message)}}</span>

                                <!-- Se il messaggio è stato letto aggiunge spunta blu, altrimenti grigia -->
                                <i v-if="(message.status == 'sent')" class="read-icon"
                                    :class="{'seen' : message.read}"></i>
                            </div>
                        </div>

                        <!-- Menu messaggio -->
                        <div class="message-menu">
                            <div class="menu-toggle" @click="toggleSelectedMessage(i)">
                                <i class="chevron-down"></i>
                            </div>

                            <div class="menu-content" v-if="slectedMessage == i">
                                <ul>
                                    <li>Info messaggio</li>
                                    <li>Rispondi</li>
                                    <li>Inoltra messaggio</li>
                                    <li>Messaggio importante</li>
                                    <li @click="delMessage(contacts[selectedContact].messages, i)">Elimina messaggio
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- invia messaggio -->
            <footer>

                <!-- sx -->
                <div id="send-media">
                    <div id="send-emoji">
                        <i class="smile"></i>
                    </div>

                    <div id="send-files">
                        <i class="paper-clip"></i>
                    </div>
                </div>

                <!-- dx -->
                <div id="send-message">
                    <input type="text" id="message-input" placeholder="Scrivi un messaggio" v-model="messageInput"
                        v-on:keyup.enter="addMessage()">
                    <div id="send-audio-record">
                        <i class="microphone"></i>
                    </div>
                </div>
            </footer>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>

    </div>
</body>

</html>