* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #090E11;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #131c21; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #394045; 
  }

/* Main container */
#app {
    height: 100vh;
    max-width: 1440px;
    margin: auto;

    display: flex;
}

@media only screen and (min-width: 1441px) {
    #app {
        max-width: 1396px;
    }
}

@media only screen and (min-width: 1441px) and (min-height: 513px) {
    #app {
        margin: 20px auto;
        height: calc(100vh - 40px);
    }
}

/* Headers */
header {
    height: 59px;
    padding: 10px 16px;

    color: #B1B3B5;
    background-color: #2A2F32;

    display: flex;
    align-items: center;
    justify-content: space-between;

    user-select: none;
}

[id^="user-nav"] {
    display: flex;
    align-items: center;
}

.nav-icon {
    height: 40px;
    width: 40px;
    padding: 8px;
}

.nav-icon svg {
    height: 24px;
    width: 24px;
}

/* User info */
.user-info {
    display: flex;
    align-items: center;
}

.user-pic {
    height: 40px; 
    width: 40px;
}

.user-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    margin-left: 16px;
}

/* ---- SIDE ---- */
#side {
    width: 35%;
    min-width: 300px;

    background-color: #131c21;
    border-right: 1px solid #3f4448;
}

#side .nav-icon {
    margin-left: 10px;
}

@media only screen and (max-width: 900px) {
    #side {
        width: 40%;
    }
}

@media only screen and (min-width: 1300px) { 
    #side {
        width: 30%;
    }
}

/* Notifications reminder */

#notifications-reminder {
    height: 89px;
    padding: 13px;
    background-color: #085373;

    display: flex;
    align-items: center;

    user-select: none;
}

#notifications-reminder .icon {
    margin-right: 16px;
    margin-top: 3px;
    color: #8EB2BE;
}

#reminder-text div {
    color: #E8EBEE;
}

#reminder-link, #reminder-link a {
    color: #b7cad2;
    font-size: 14px;
}

#reminder-link {
    display: flex;
    align-items: center;
}

#reminder-link .icon {
    margin: 5px 0 0 3px;
}

/* Chat search */

#chats-search {
    height: 49px;
    background-color: #131c21;
    border-bottom: 1px solid #252d32;

    display: flex;
    align-items: center;
    justify-content: center;
}

#chats-search .container {
    background-color: #323739;

    height: 35px;
    width: 94%;
    padding-top: 2px;
    border-radius: 50px;

    display: flex;
    align-items: center;
}

#chats-search-button {
    border: 0;
    margin-left: 12px;

    background-color: #323739;
    color: #828689;

    cursor: pointer;
}

#chats-search-input {
    background-color: #323739;
    color: #d4d5d7;
    font-weight: 500;

    border: 0;
    height: 30px;
    font-size: 15px;

    width: 80%;
    margin-left: 30px;

    font-size: 13px;
}

#chats-search-input:focus {
    outline: none;
}

/* Chat */
#chats-container {
    height: calc(100vh - 197px);
    background-color: #131c21;

    overflow-x: hidden;
    overflow-y: auto;

    user-select: none;
}

.side-chat {
    height: 72px;

    color: #d4d5d7;

    display: flex;
    align-items: center;
    align-items: flex-start;

    cursor: pointer;
}

.side-chat:hover {
    background-color: #2d3134;
}

.side-chat-pic {
    height: 49px;
    width: 49px;

    margin: 11.5px 15px;
}

.side-chat-pic img {
    height: 100%;
    width: 100%;

    border-radius: 50px;
}

.side-chat-info {
    height: 100%;
    width: calc(100% - 79px);
    border-bottom: 1px solid #2d3134;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.side-chat-column {
    display: flex;
    flex-direction: column;
}

.side-chat-column:first-child {
    width: 70%;
}

.side-chat-column:last-child {
    width: 30%;
    margin-right: 15px;
    align-items: flex-end;

    position: absolute;
    right: 0;
}

.side-chat-name, .side-chat-message, .side-chat-time {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-chat-name {
    width: 60%;
    font-size: 17px;
    color: #F1F1F2EB;
}

.side-chat-message {
    font-size: 14px;
    color: #F1F1F2A1;
}

.side-chat-time, .side-chat-msg-counter {
    font-size: 12px;
}

.side-chat-time {
    color: #F1F1F2A1;
}

.side-chat-time.unread {
    color: #00AF9C;
}

.side-chat-msg-counter {
    height: 20.38px;
    width: 20.39px;
}

.side-chat-msg-counter.unread {
    color: #131C21;
    background: #00AF9C;

    padding: 3.6px 4.8px 4.8px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.side-chat-message, .side-chat-msg-counter {
    margin-top: 3px;
}

/* Archived */
#archived {
    height: 49px;

    color: #d4d5d7;

    display: flex;
    align-items: center;

    position: relative;
}

#archived .icon {
    height: 49px;
    width: 49px;
    margin: 0 14px;

    color: #00af9c;

    display: flex;
    align-items: center;
    justify-content: center;
}

#archived .icon svg {
    height: 18px;
    width: 18px;
}

#archived-info {
    height: 100%;
    width: 79%;
    border-bottom: 1px solid #2d3134;

    display: flex;
    align-items: center;
}

#archived-title {
    font-size: 17px;
}

#archived-counter {
    position: absolute;
    right: 27px;

    color: #00af9c;
    font-size: 12px;
    font-weight: bold;
}

/* ---- MAIN ---- */
main {
    width: 65%;
    background-color: rgba(13, 20, 24, 0.6);
}

.last-seen {
    font-weight: normal;
    font-size: 13px;
}

#user-chat {
    position: relative;
    display: block;
}

#user-chat::after {
    content: "";
    background: url("img/background.png");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

/* Messaggi */
#user-chat {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.message {
    margin: 2px 8.5% 0 8.5%;
    border-radius: 7.5px;
    padding: 6px 7px 8px 9px;

    max-width: 62%;
    min-width: 98px;

    color: #e7e7e8;

    position: relative;
}

.message.first {
    margin-top: 12px;
}

.message.sent.first {
    border-radius: 7.5px 0 7.5px 7.5px;
}

.message.received.first {
    border-radius: 0 7.5px 7.5px 7.5px;
}

.message.sent {
    align-self: flex-end;

    background-color: #056162;
}

.message.received {
    align-self: flex-start;

    background-color: #262d31;
}

.tail-in, .tail-out {
    position: absolute;
    top: -4px;
}

.tail-in {
    color: #262d31;

    left: -8px;
}

.tail-out {
    color: #056162;

    right: -8px;
}

.message-text {
    font-size: 14.2px;
}

.message.sent .message-text::after {
    display: inline-block;
    content: "";
    width: 71px;
    height: 0;
}

.message.received .message-text::after {
    display: inline-block;
    content: "";
    width: 53px;
    height: 0;
}

.message-bottom {
    font-size: 11px;
    color: #F1F1F2A1;

    position: absolute;

    display: flex;
    align-items: center;
}

.message.sent .message-bottom {
    bottom: 0;
    right: 7px;
}

.message.received .message-bottom {
    bottom: 3px;
    right: 7px;
}

.read-icon {
    margin-top: 3px;
    margin-left: 2px;
}

@media only screen and (max-width: 900px) {
    main {
        width: 60%;
    }
}

@media only screen and (min-width: 1300px) {
    main {
        width: 70%;
    }
}